@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
body{
    font-size: x-large;
    background-color: grey;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

}
main{
    width: 75%;
    border: 3px solid blue;
    border-radius: 35px;
    background-image: linear-gradient( to bottom, rgb(46, 95, 255), rgb(12, 0, 79)) ;
}
h1{
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.50);
    align-content: center;
    text-align: center;
    color: aliceblue;
    border-radius: 25px;
}
input{
    width: 70%;
    height: 40px;
    border: none;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    font-size: x-large;
    border-radius: 25px;
}
button{
    width: 25%;
    height: 40px;
    border: none;
    font-size: x-large;
    border-radius: 25px;
    cursor: pointer;
}
button:hover{
    background-image: linear-gradient( to bottom, rgb(255, 255, 255), rgb(161, 161, 161)) ;
}
li{
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 15px;
    border-radius: 25px;
    color: white;
    align-items: center;
    list-style-type: none;
    padding-left: 15px;
}
li .btnDelete{
    display: flexbox;
    justify-content: flex-end;
}
p{
    cursor: pointer;
}
p::first-letter {
    text-transform: uppercase;
}
.inputalani{
    margin: 15px;
    display:flex;
    justify-content: space-between;
}
.ciz{
    text-decoration:line-through;
    color: red;
}
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }